<header class="mt-2 py-2 shadow w-full">
    <div class="top-header flex justify-between w-[80%] max-w-[1100px] mx-auto items-center">
        <img src="https://ebook.waka.vn/themes/desktop/images/logo-waka.png?v=1" alt="">

        <form class="flex">
            <input type="text" class="input" placeholder="Nhập tên sách, tuyển tập, tác giả,...">
            <button class="btn-search"><i class="fa-solid fa-magnifying-glass"></i>Tìm
                kiếm</button>
        </form>
        <div class="flex space-x-5">
            <button>
                <img src="https://ebook.waka.vn/themes/desktop/images/hieu-soi.png" alt="">
            </button>
            <button class="bg-yellow-500 px-[12px] text-white rounded-[50px] text-[14px] my-[2px]">
                Gói hội viên
            </button>
            <button class="py-[5px] px-[12px] bg-[#1ba085] text-white">Đăng nhập</button>
        </div>
    </div>
    <div class="bottom-header flex w-[70%] mx-auto space-x-8 pl-[195px] my-2">
        <div><i class="fa-solid fa-bars"></i> Danh mục</div>
        <div>Sách mới</div>
        <div>Bảng xếp hạng</div>
        <div>Miễn phí Hot</div>
        <div>Tuyển tập</div>
        <div>Khuyên đọc</div>
    </div>
</header>