<div class="w-[170px]">
    <div class="w-[150px] text-[#3a4752] shadow-md mx-auto">
        <div>
            <img class="w-[150px] h-[218px]" src={{product?.images[0]?.small_url}} alt="">
        </div>
        <div class="px-[10px]">
            <a [routerLink]="['/detail',product.id]">
                <h3 class="text-[13px] truncate">{{product.name}}</h3>
            </a>
            <div class="mb-[7px]">
                <a href="#" class="text-[11px] text-[#888]">Nguyên Phong</a>
            </div>
            <div class="text-[13px] pt-1 border-t">16000 lượt xem</div>
        </div>

    </div>
</div>