<div
    class="w-[90%] mx-auto md:w-full lg:w-[1100px] grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 md:gap-5 lg:gap-x-[20px] lg:gap-y-[50px]">
    <div *ngFor="let list of products" class="w-full md:w-full lg:w-[260px] border rounded-md shadow-md">
        <div class="block md:flex lg:flex w-full pl-[10px]  relative">
            <div class="w-full md:w-[120px] lg:w-[120px]">
                <img class="lg:absolute relative md:relative bottom-0 w-full md:w-[120px] md:h-[176px] lg:w-[120px] lg:h-[176px]  border border-solid border-gray-200"
                    src={{list.images[0].small_url}} alt="">
            </div>
            <div class="w-[120px] px-[10px] space-y-1">
                <h3 class="text-[13px] truncate-2-lines"><a [routerLink]="['/detail',list.id]">{{list.name}}</a>
                </h3>
                <div class="text-[11px] text-[#888] truncate">{{list.authors[0].name}}</div>
                <nz-rate class="text-sm" [ngModel]="list?.rating_average.value" nzAllowHalf disabled="true"></nz-rate>
                <p class="text-[13px] text-red-500 font-medium truncate">{{VND.format(list.sale_price)}}</p>
                <p [innerHTML]="list.short_description" class="truncate-2-lines text-[11px] text-[#888] leading-4">
                </p>
            </div>
        </div>
        <div class="mt-2 h-[0.5px] mx-[10px] bg-gradient-to-r from-gray-300 to-white"></div>
        <div class="hidden md:block lg:block text-[11px] text-[#888] my-2 ml-[10px] ">
            13,000 lượt xem
        </div>
    </div>
</div>