<div class="lg:w-[80%] md:w-[100%] w-[100%]  max-w-[1100px] mx-auto">
    <div class="mb-5">
        <app-slide></app-slide>
    </div>
    <div class="banner mb-5">
        <img class="w-full" src="https://ebook.waka.vn/themes/desktop/reactjs//images/bannerButton.jpg" alt="">
    </div>
    <div class="">
        <app-list-new-product [data]="reversedProducts"></app-list-new-product>
    </div>
    <div>
        <app-list-hot-product [data]="topMonth"></app-list-hot-product>
    </div>
    <div class="mb-10">
        <img src="https://bookbuy.vn/Res/Images/Album/f035955a-f9dd-4ea0-8a88-f302dc8f0f71.jpg" alt="">
    </div>
    <div class="">
        <app-list-top-product [data]="topSoldProducts"></app-list-top-product>
    </div>
</div>
<div class="bg-[#1ba085] mt-10 h-[140px]">
    <app-end-banner></app-end-banner>
</div>