.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    font-size: 15px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
    background-color: #555;
    color: white;
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}